
nav{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    
    height: 50px;
    background: skyblue;
    
}
nav a{
    text-decoration: none;
    margin: 20px;
}
a:hover{
    color: teal;
    cursor: move;
}
.login-contenar{
    display: flex;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
}
.login{
    background-color: yellowgreen;
    border-radius: 10px;
}
/*calander*/
    .clander{
        width: 400px;
        height: 100px;
        display: grid;
        grid-template-columns: repeat(7,1fr);
        grid-template-rows:2em repeat(6,1fr);
        grid-gap:1em;
        
    }
    .date , .day{
        background-color: slategrey;
        font-size: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    .other-month{
        background-color:thistle;
    }
    .day{
        background-color: teal;
        font-size: 25px;
    }
    